body{
    background: #F3F5FC;
    height: 140%;
  margin: 0;
}
.container {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem,1fr));
  }
.featured{
    grid-column: span 2;
}
.logo{
width: 120px;
height: 48px;

flex: none;
order: 0;
flex-grow: 0;
}
.texto{
    position: absolute;
width: 680px;
height: 288px;
left: 240px;
top: 168px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
/* or 48px */


color: #0A3871;
}
#rectangle{
    position: absolute;
    width: 400px;
    height: 700px;
    left: 1180px;
    top: 40px;
    
    /* White */
    background: #FFFFFF;
    
    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    overflow: auto;
    margin-right: 200px !important;
    display: flex;
}
input[type="text"]::placeholder {
    color: #495057;
    font-style: italic;
  }
  
#encriptar{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;
  width: 328px;
  height: 67px;
  /*Darkblue/dark-blue-300*/background: #0A3871;
  border-radius: 24px;
  width: 280px;
  height: 35px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: justify;
  /*White*/color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 1;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
#desencriptar{
  box-sizing: border-box;
  /*Autolayout*/display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;
  width: 328px;
  height: 67px;
  /*Lightgray*/background: #D8DFE8;
  /*Darkblue/dark-blue-300*/border: 1px solid #0A3871;
  border-radius: 24px;
  /*Insideautolayout*/flex: none;
  order: 0;
  flex-grow: 0;
  width: 280px;
  height: 35px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  /*Darkblue/dark-blue-300*/color: #0A3871;
  flex: none;
  order: 0;
  flex-grow: 1;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
#frame3{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: absolute;
width: 680px;
height: 67px;
left: 240px;
top: 650px;

display: flex;
			flex-wrap: wrap;
			justify-content: center;
}
#texto{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
width: 336px;
height: 122px;
left: 1032px;
top: 700px;
}
#imagen{
    position: absolute;
    width: 336px;
    height: 304px;
    left: 25px;
    top: 120px;
    max-width: 100% !important;
}
.caja{
 display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
width: 336px;
height: 122px;
left: 20px;
top: 450px;
max-width: 100%;
}
#texto1{
    width: 336px;
    height: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: normal;
    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#texto2{
    width: 336px;
    height: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
#exclamacion{
    width: 16px;
height: 16px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.anunciado{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 229px;
height: 18px;
left: 240px;
top: 620px;

}
#texto3{
    width: 205px;
height: 18px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
/* identical to box height, or 18px */


/* Gray/gray-400 */

color: #495057;

opacity: 0.8;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
#copy{
    box-sizing: border-box;

/* Auto layout */

display: none;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

position: absolute;
width: 336px;
height: 67px;
left: 25px;
top: 600px;

/* Dark blue/dark-blue-300 */

border: 1px solid #0A3871;
border-radius: 24px;
}
#reset{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;
  width: 328px;
  height: 67px;
  /*Darkblue/dark-blue-300*/background: #0A3871;
  border-radius: 24px;
  width: 280px;
  height: 35px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: justify;
  /*White*/color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 1;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
#ver{

position: absolute;
width: 100%;
height: 600px;
max-width: auto;
max-height: 1200px;
top: -450px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: normal;
text-align: left;
/* or 48px */


color: #0A3871;
}

  

@media screen and (max-width: 1080px) {
    #rectangle{
        width: 600px;
        height: 700px;
        left: 45%;
        transform: translateX(-50%);
        top: 820px;
    }
    .texto{
        flex-basis: 100%;
    }
   
    #texto1{
        width: 100%;
        font-size: 20px;
        height: auto;
    }
    
    #texto2{
        width: 100%;
        font-size: 14px;
        height: auto;
    }
    #copy{
        top: 620px;
        left: 23%;
    }
    #imagen{
        left: 20%;
    }
    .texto{
        width: 16em;
        left: 13%;
    }
    #ver{
        font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: normal;
text-align: left;
    }
    #frame3{
      left: 15%;
    }
    .anunciado{
        left: 15%;
    }
}
/* Estilos para móvil */

@media screen and (max-width: 362px) {
    #rectangle{
        width: 600px;
        height: 700px;
        left: 45%;
        transform: translateX(-50%);
        top: 820px;
    }
    .texto{
        flex-basis: 100%;
    }
   
    #texto1{
        width: 100%;
        font-size: 20px;
        height: auto;
    }
    
    #texto2{
        width: 100%;
        font-size: 14px;
        height: auto;
    }
    #copy{
        top: 620px;
        left: 23%;
    }
    #imagen{
        left: 20%;
    }
    .texto{
        width: 16em;
        left: 13%;
    }
    #ver{
        font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: normal;
text-align: left;
    }
}
@media  screen and(max-width:801px) {
    #rectangle{
        width: 500px;
        height: 700px;
        left: 120%;
        transform: translateX(-50%);
        top: 820px;
    }
    .texto{
        flex-basis: 100%;
    }
   
    #texto1{
        width: 100%;
        font-size: 20px;
        height: auto;
    }
    
    #texto2{
        width: 100%;
        font-size: 14px;
        height: auto;
    }
    #copy{
        top: 620px;
        left: 23%;
    }
    #imagen{
        left: 20%;
    }
    .texto{
        width: 16em;
        left: 13%;
    }

}
@media screen and (max-width: 415px) {
    #rectangle{
        width: 360px;
      
        height: 600px;
        left: 50%;
        transform: translateX(-50%);
        top: 900px;
    }
   
    #texto1{
        width: 100%;
        font-size: 20px;
        height: auto;
    }
    
    #texto2{
        left: -10%;
        width: 100%;
        font-size: 14px;
        height: auto;
    }
    #copy{
        top: 500px;
        left: 0px;
    }
    #imagen{
        left: 25%;
        width: 210px;
        height: 300px;
    }
    .caja{
        left: 5%;
    }
    #frame3{
        flex-direction: column;
        align-items: center;
        width: 380px;
            
    }
    #encriptar{
        flex: 1 1 100px;
			margin: 10px;
			padding: 20px;
			text-align: center;
            margin-bottom: 10px;
    }
    #desencriptar{
        flex: 1 1 100px;
        margin: 10px;
        padding: 10px;
        text-align: center;
        margin-bottom: 10px;
    }
    #reset{
        flex: 1 1 100px;
        margin: 10px;
        padding: 20px;
        text-align: center;
        margin-bottom: 10px;
    }
    .texto{

        width: 300px;
    }

}