body{
    background: #F3F5FC;;
}
.logo{
width: 120px;
height: 48px;

flex: none;
order: 0;
flex-grow: 0;
}
.texto{
    position: absolute;
width: 680px;
height: 288px;
left: 240px;
top: 168px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
/* or 48px */


color: #0A3871;
}
#rectangle{
    position: absolute;
    width: 400px;
    height: 700px;
    left: 1180px;
    top: 40px;
    
    /* White */
    background: #FFFFFF;
    
    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    overflow: auto;
    margin-right: 200px !important;
    display: flex;
}
input[type="text"]::placeholder {
    color: #495057;
    font-style: italic;
  }
  .text{
    display: flex;
			flex-wrap: wrap;
			justify-content: center;
  }
#encriptar{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

width: 328px;
height: 67px;

/* Dark blue/dark-blue-300 */

background: #0A3871;
border-radius: 24px;
width: 280px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: justify;

/* White */

color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 1;

}
#desencriptar{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

width: 328px;
height: 67px;

/* Light gray */

background: #D8DFE8;
/* Dark blue/dark-blue-300 */

border: 1px solid #0A3871;
border-radius: 24px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

width: 280px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* Dark blue/dark-blue-300 */

color: #0A3871;
flex: none;
order: 0;
flex-grow: 1;
}
#frame3{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: absolute;
width: 680px;
height: 67px;
left: 240px;
top: 700px;
}
#texto{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
width: 336px;
height: 122px;
left: 1032px;
top: 700px;
}
#imagen{
    position: absolute;
    width: 336px;
    height: 304px;
    left: 25px;
    top: 120px;
    max-width: 100% !important;
}
.caja{
 display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
width: 336px;
height: 122px;
left: 20px;
top: 450px;
max-width: 100%;
}
#texto1{
    width: 336px;
    height: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: normal;
    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#texto2{
    width: 336px;
    height: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
#exclamacion{
    width: 16px;
height: 16px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.anunciado{
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 229px;
height: 18px;
left: 240px;
top: 680px;

}
#texto3{
    width: 205px;
height: 18px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
/* identical to box height, or 18px */


/* Gray/gray-400 */

color: #495057;

opacity: 0.8;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
#copy{
    box-sizing: border-box;

/* Auto layout */

display: none;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

position: absolute;
width: 336px;
height: 67px;
left: 25px;
top: 600px;

/* Dark blue/dark-blue-300 */

border: 1px solid #0A3871;
border-radius: 24px;
}
#reset{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    
    width: 328px;
    height: 67px;
    
    /* Dark blue/dark-blue-300 */
    
    background: #0A3871;
    border-radius: 24px;
    width: 280px;
    height: 19px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    
    /* White */
    
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 1;

}
#ver{

position: absolute;
width: 100%;
height: 600px;
max-width: auto;
max-height: 1200px;
top: -450px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: normal;
text-align: left;
/* or 48px */


color: #0A3871;
}


@media screen and (max-width: 1080px) {
    #rectangle{
        width: 700px;
        max-height: 450px;
        left: 55%;
        transform: translateX(-50%);
        top: 900px;
    }
   
    #texto1{
        width: 100%;
        font-size: 20px;
        height: auto;
    }
    
    #texto2{
        width: 100%;
        font-size: 14px;
        height: auto;
    }
    #copy{
        top: 280px;
    }
    #encriptar{
        width: 200px;
    }
    #desencriptar{
        width: 200px;
    }
    #reset{
        width: 200px;
    }
    .caja{
    
    left: 25%;
    }
    #imagen{
       left: 25%;
    }
    #frame3{
        left: 13%;
    }
    .anunciado{
        left: 13%;
    }

}

/* Estilos para móvil */

@media screen and (max-width: 1080px) {
    #rectangle{
        width: 600px;
        height: 300px;
        left: 45%;
        transform: translateX(-50%);
        top: 820px;
    }
    .texto{
        flex-basis: 100%;
    }
   
    #texto1{
        width: 100%;
        font-size: 20px;
        height: auto;
    }
    
    #texto2{
        width: 100%;
        font-size: 14px;
        height: auto;
    }
    #copy{
        top: 280px;
    }
    #imagen{
        left: 20%;
    }
    .texto{
        width: 16em;
        left: 13%;
    }

}
@media screen and (max-width: 280px) {
    #rectangle{
       max-width: 230px;
      
        height: 300px;
        left: 100%;
        transform: translateX(-50%);
        top: 900px;
    }
   
    #texto1{
        width: auto;
        font-size: 20px;
        height: auto;
    }
    
    #texto2{
        width: 100%;
        font-size: 14px;
        height: auto;
    }
    #copy{
        top: 280px;
    }
    #imagen{
        width: 210px;
        height: 300px;
    }

}